@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #150f15;
  position: relative;
}

@keyframes rocketAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px) rotateZ(3deg);
  }
}

@keyframes rocketGus {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px) rotateZ(3deg);
  }
}

@keyframes gusAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rocketAnimation-change {
  animation: rocketAnimation 3s ease-in-out forwards infinite;
}

.rocketGus-change {
  animation: rocketGus 3s ease-in-out forwards infinite,
    gusAppear 0.3s ease-in-out forwards;
}
